html, body {
  font-family: system-ui, sans-serif;
}

p {
  line-height: 1.6;
  text-align: justify;
  hyphens: auto;
}

.wizard {
  display: grid;
  overflow: hidden;
  position: relative;
}

.wizard .pane {
  grid-column: 1;
  grid-row: 1;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
}

.wizard .pane .BottomBar {
  flex: 1;
  display: flex;
}

.wizard .pane.active {
  transform: translateX(0);
}

.wizard .pane.done {
  transform: translateX(-100%);
}

.wizard .pane.active ~ .pane {
  transform: translateX(100%);
}



.multipane {
  display: grid;
  overflow: hidden;
}

.multipane .pane {
  grid-column: 1;
  grid-row: 1;
  transition: all 0.5s ease-in-out;
  transform: translateX(0);
}

.multipane .pane.inactive {
  transform: translateX(-100%);
}

.multipane .pane.active ~ .pane.inactive {
  transform: translateX(100%);
}
